
.main-chat-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-chat-area {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  flex: 1 1 0%;
  min-height: 0;
}

.main-chat-messages-scroll {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
  margin-bottom: 14px;
}

.main-chat-messages {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.main-chat-input,
.main-chat-footer {
  flex: 0 0 auto;
}

.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

footer {
  color: var(--black);
  text-align: center;
  padding: 12px;
}