
.chat-input {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 500px;
  }
  
  .chat-field {
    border: none;
    padding: 12px 16px;
    font-size: 14px;
    color: var(--text-1);
    flex: 1;
    outline: none;
  }
  
  .send-button {
    background-color: var(--primary);
    border: none;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .send-icon {
    color: var(--secondary);
  }