.button-component { 
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 4px;
    font-size: 22px;
    border: none;
    min-width: 248px;
    min-height: 60px;
    font-weight: bold;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.button-component:active {
    box-shadow: none;
}

.button-component.small {
    min-width: 104px;
    min-height: 34px;
}

