.button-component { 
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 4px;
    font-size: 22px;
    border: none;
    min-width: 248px;
    min-height: 60px;
    font-weight: bold;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-component:active {
    box-shadow: none;
}

.button-component.small {
    min-width: 140px;
    min-height: 36px;
    font-size: 16px;
}

.button-icon {
    flex-shrink: 0;
}

