
.chat-text-component {
  display: flex;
  padding: 16px;
  background-color: var(--chat-text-bg-sent);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  position: relative;
  max-width: 90%;
  margin: 8px 0;
}

.chat-text-component.--sent {
  align-self: flex-end;
}

.chat-text-component.--received {
  align-self: flex-start;
  background-color: var(--chat-text-bg-received);
}

.chat-text-container {
  overflow-wrap: break-word;
  max-width: 100%;
  min-width: 0;
  flex: 1;
}

.chat-text-container p {
  margin: 12px 0;
}

.chat-text-container pre {
  overflow-x: auto;
  max-width: 100%;
  white-space: pre;
  word-wrap: normal;
}

.chat-text-container code {
  word-break: break-all;
}

.chat-text-container * {
  max-width: 100%;
}

.chat-text-component:not(.--received)::before {
  content: '';
  position: absolute;
  bottom: 8px;
  right: -7px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid var(--chat-text-bg-sent);
  filter: drop-shadow(2px 0 2px rgba(0, 0, 0, 0.25));
}

.chat-text-component.--received  .chat-text-container {
  color: var(--black);
}

.chat-text-component.--loading {
  align-self: flex-start;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-width: 340px;
}

.chat-text-component.--loading .chat-text-container {
  color: var(--black);
}

.chat-text-component.--loading::before {
  display: none;
}

.chat-text-component.--received::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: -7px; /* Adjusted to point the triangle to the left */
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--chat-text-bg-received); /* Changed from border-left to border-right */
  filter: drop-shadow(-2px 0 2px rgba(0, 0, 0, 0.25));
}

.chat-text-component ul {
  list-style-position: inside;
}