.hero-home-component {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  width: 100%;
}

.hero-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding-bottom: 24px;
  max-width: 100%;
  width: 570px;
  margin: 0 auto;
}

.hero-home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.hero-home-center .app-logo {
  margin-bottom: 24px;
}

.hero-home-footer {
  display: flex;
  margin-top: auto;
  width: 100%;
  transition: opacity 0.2s ease-in-out;
}

.hero-home-footer {
  padding: 0 12px;
}

@media (min-width: 1024px) {
  .hero-home-center  {
    flex-grow: initial;
    min-width: 540px;
    margin-bottom: 24px;
  }

  .hero-home-footer {
    margin-top: 0;
    max-width: 400px;
    text-align: center;
  }
}

@keyframes delayedHide {
  0% { opacity: 1; visibility: visible; }
  66% { opacity: 1; visibility: visible; }
  99% { opacity: 0; visibility: hidden; }
  100% { opacity: 0; visibility: hidden; display: none; }
}


.hero-home .chat-input {
  transition: transform 1s ease;
}

.hero-home .app-logo {
  transition: transform 1s ease;
}

.hero-home-component.hidden {
  animation: delayedHide 1s forwards;
}

.hero-home.hidden {
  width: 100%;
}

.hero-home.hidden .hero-home-footer {
  opacity: 0;
}

.hero-home.hidden .chat-input {
  transform: translateY(46vh);
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .hero-home.hidden .chat-input {
    transform: translateY(38vh);
    margin-bottom: 45px;
  }
}

.hero-home.hidden .app-logo {
  transform: translateY(max(-33vh, calc(-50vh + 130px))) scale(.6) translateX(-12px);
  animation: delayedHide 1s forwards;
}

@supports (-webkit-touch-callout: none) {
  /* iOS Safari specific */
  .hero-home.hidden .app-logo {
    transform: translateY(max(-20vh, calc(-50vh + 190px))) scale(.6) translateX(-12px);
    animation: delayedHide 1s forwards;
  }
}

@media (max-width: 768px) {
  .hero-home.hidden .app-logo {
    transform: translateY(max(-26vh, calc(-50vh + 150px))) scale(.6) translateX(-12px);
    animation: delayedHide 1s forwards;
  }
  
  @supports (-webkit-touch-callout: none) {
    /* iOS Safari specific on mobile */
    .hero-home.hidden .app-logo {
      transform: translateY(max(-20vh, calc(-50vh + 190px))) scale(.6) translateX(-12px);
      animation: delayedHide 1s forwards;
    }
  }
}

